body{
    background-color:skyblue;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    border: solid;
    padding-top: 10px;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
}
h4{
    position: fixed;
    right: 20px;
}
p{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color:black;  
}
a{
    color:purple;
}
ol{
    font-style:italic;
}
#Parahobbies{
    color: red;
    background-color: black; 
}
#div1{
    background-color:violet;
    width: 1070px;
    text-align: left;
    padding: 25px;
    border:dashed
}
#div2{
    background-color:violet;
    width: 1070px;
    border: dashed;
    padding: 25px;
}
#div3{
    position: relative;
}
#div4{
    position:relative;
    left:100px
}
span{
    color:black;
    font-size: 50pt;
    font-family: monospace;
}
